{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block navbar_title %}
    {{ 'admin.audit.generate_xls' | trans }} {{ object.name }}
{% endblock %}

{% block sonata_admin_content %}
<div class="sonata-ba-show">
    <div class="sonata-ba-view row">
        <div class="col-sm-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title" style="margin-bottom:15px;"><strong>{{ 'admin.audit.filter' | trans }}</strong></h4><br>
                    <div class="box-body table-responsive no-padding">
                        {% if form.year.vars.label is defined %}
                            {{ form_start(form, {action: path('admin_app_windfarm_excelAttachment', {id: object.id}), method: 'GET'}) }}
                            {{ form_rest(form) }}
                            {{ form_end(form) }}
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                <i class="fa fa-exclamation-triangle"></i> {{ 'admin.windfarm.no_audits' | trans }}.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
