{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block navbar_title %}
    {{ 'admin.audit.generate' | trans }} {{ object.name }}
{% endblock %}

{% block sonata_admin_content %}
<div class="sonata-ba-show">
    <div class="sonata-ba-view row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="box-body table-responsive no-padding">
                        {% if form.year.vars.label is defined %}
                            {{ form_start(form) }}
                                <div class="col-xs-1">
                                    {{ form_row(form.audit_status) }}
                                </div>
                                <div class="col-xs-1">
                                    {{ form_row(form.year) }}
                                </div>
                                <div class="col-xs-2">
                                    {{ form_row(form.generate, {attr: {style: 'margin-top:24px;'}}) }}
                                    {{ form_row(form.download_xls) }}
                                    {{ form_rest(form) }}
                                </div>
                            {{ form_end(form) }}
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                <i class="fa fa-exclamation-triangle"></i> {{ 'admin.windfarm.no_audits' | trans }}.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if audits is defined and audits | length > 0 %}
    <div class="sonata-ba-show">
        <div class="sonata-ba-view row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="10">{{ 'pdf.damage_table_header.9_excel_title' | trans({'%name%': object.name | upper}) }} {{ year }}</th>
                            </tr>
                            <tr>
                                <th rowspan="2" class="text-center" style="background-color:#8FABD9;">WTG</th>
                                <th rowspan="2" class="text-center" style="background-color:#8FABD9;">{{ 'pdf.damage_table_header.10_blade' | trans }}</th>
                                <th colspan="2" class="text-center" style="background-color:#8FABD9;">{{ 'pdf.damage_table_header.1_damage' | trans }}</th>
                                <th colspan="3" class="text-center" style="background-color:#8FABD9;">{{ 'pdf.damage_table_header.2_position' | trans }}</th>
                                <th rowspan="2" class="text-center" style="background-color:#8FABD9;">{{ 'pdf.damage_table_header.6_size' | trans }}</th>
                                <th rowspan="2" class="text-center" style="background-color:#8FABD9;">{{ 'pdf.damage_table_header.7_description' | trans }}</th>
                                <th rowspan="2" class="text-center" style="background-color:#8FABD9;">CAT</th>
                            </tr>
                            <tr>
                                <th class="text-center" style="background-color:#8FABD9;">{{ 'pdf.damage_table_header.3_number' | trans }}</th>
                                <th class="text-center" style="background-color:#8FABD9;">{{ 'pdf.damage_table_header.4_code' | trans }}</th>
                                <th class="text-center" style="background-color:#8FABD9;">Pos.</th>
                                <th class="text-center" style="background-color:#8FABD9;">{{ 'pdf.damage_table_header.5_radius' | trans }}</th>
                                <th class="text-center" style="background-color:#8FABD9;">{{ 'pdf.damage_table_header.8_distance' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for audit in audits %}
                                {% for auditWindmillBlade in audit.auditWindmillBlades %}
                                    {% for bladeDamage in auditWindmillBlade.bladeDamages %}
                                        <tr>
                                            <td class="text-center">{{ audit.windmill.code }}</td>
                                            <td class="text-center">{{ auditWindmillBlade.windmillBlade.order }}</td>
                                            <td class="text-center">{{ loop.index }}</td>
                                            <td class="text-center">{{ bladeDamage.damage.code }}</td>
                                            <td class="text-center">{{ bladeDamage.positionStringLocalized | trans }}</td>
                                            <td class="text-center">{{ bladeDamage.radius }} m</td>
                                            <td class="text-center">{{ bladeDamage.localizedDistanceString | trans({'%dist%': bladeDamage.distanceScaled}) }}</td>
                                            <td class="text-center">{{ bladeDamage.size }} cm</td>
                                            <td>{{ get_localized_description(bladeDamage.damage, app.request.locale) }}</td>
                                            <td class="text-center" style="background-color:{{ bladeDamage.damageCategory.colour }};">{{ bladeDamage.damageCategory.category }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
